@import "variables";
@import "mixins";
@import "bootstrap";
@import "font-awesome";

@import "vendor/jquery.fancybox";

@import url(http://fonts.googleapis.com/css?family=Cookie);

/* Global
================================================== */

body {
  @include font-smoothing;
}

abbr, p span[data-toggle=tooltip] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}

blockquote {
  p:first-of-type::before {
    content: '“';
  }

  p:last-of-type::after {
    content: '”';
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.4em;
  font-size: $font-size-base * 3;
}

p {
  margin-bottom: 1em;
  a {
    text-decoration: underline;
  }
}

iframe {
  margin-bottom: 1em;
}

.row {
  padding: 2em 0;
}

form #gotcha {
  position: absolute;
  top: -9999px;
}

.row {
  &.gutters-sm {
    @include gutter-padding($grid-gutter-width*0.25, $grid-gutter-width*0.25);
  }

  &.gutters-xs {
    @include gutter-padding($grid-gutter-width*0.4, $grid-gutter-width*0.1);
  }

  &.gutters-none {
    @include gutter-padding($grid-gutter-width*0.5, 0);
  }
}

/* Buttons
-------------------------------------------------- */

.btn {
  &:active {
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.3);
  }

  &.btn-default {
    border-color: $btn-default-border;

    &:hover, &:focus {
      background-color: $gold;
      color: $white;
    }

    &:active {
      background-color: darken($gold, 10%);
      color: $white;
    }
  }

  &.btn-inverse {
    border-color: $white;
    color: $white;

    &:hover, &:focus {
      background-color: $white;
      color: $dark-gold;
    }

    &:active {
      background-color: transparentize($white, 0.2);
      color: $dark-gold;
    }
  }
}

/* Header
================================================== */

header {
  position: relative;
  background: #ccc url(../images/photos/truck.jpg) no-repeat 50% 35%;
  background-size: cover;
  padding: 50px 0;
  text-align: center;

  &::after {
    display: block;
    content: " ";
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  h1 {
    line-height: 1;
    margin: 10px  0;
    color: white;
    text-shadow: 0 1px 1px black;
    @include responsive(font-size, 4em, 3.5em, 2.5em, 2em);
  }

  .crest {
    display: inline-block;
    @include responsive(width, 10%, 15%, 20%, 25%);
  }
}

/* Thanks
================================================== */

#thanks {
  display: none;

  &:target {
    display: block;
  }
}

/* Intro
================================================== */

.intro {
  font-family: "times new roman", serif;
  font-style: italic;
  font-size: 1.4em;
}

/* Party
================================================== */

#party {
  background-color: $pale-blue;
  text-align: center;
}

/* Staff
================================================== */

#staff .gallery img {
  @include responsive(width, 10%, 10%, 20%, 25%);
}

/* Cuttings
================================================== */

#cuttings .gallery {
  margin: 0 -5px;

  a {
    display: block;
    width: 20%;
    border: 5px solid transparent;
    height: 120px;
    float: left;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

/* Media Queries
================================================== */

body:after {
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
  content: "wide";
}

@media (max-width: $screen-xs-max) {
  body:after { content: "thin"; }
}
