//Custom
$white: #fffffb;
$gold: #AB8800;
$dark-gold: darken($gold, 15%);
$blue: #65A4B0;
$pale-blue: #F4F8F9;

//Bootstrap
$container-lg: 970px;

$font-family-sans-serif: "Myriad Pro", myriad, helvetica, arial, sans-serif;
$headings-font-family: "Cookie", "Apple Chancery", "Lucida Handwriting", cursive;
$font-size-base: 18px;
$line-height-base: 1.2;
$headings-line-height: 1;
$headings-color: $blue;

$border-radius-base: 3px;
$border-radius-small: 2px;
$body-bg: $white;
$brand-primary: $gold;

$btn-default-color: $brand-primary;
$btn-default-border: $btn-default-color;
$btn-default-bg: rgba(0,0,0,0);

$tooltip-max-width: 300px;

$input-border-focus: $gold;
$input-border-radius: $border-radius-small;
