//Custom
$white: #fffffb;
$green: #366;
$dark-green: darken($green, 15%);
$pale-green: #f0f6f3;

//Bootstrap
$container-lg: 970px;

$font-family-sans-serif: "Myriad Pro", myriad, helvetica, arial, sans-serif;
$headings-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, arial, sans-serif;
$font-size-base: 18px;
$line-height-base: 1.2;
$headings-line-height: 1;
$headings-color: fade-out($dark-green, 0.4);

$border-radius-base: 3px;
$border-radius-small: 2px;
$body-bg: $white;
$brand-primary: $green;

$btn-default-color: $brand-primary;
$btn-default-border: $btn-default-color;
$btn-default-bg: rgba(0,0,0,0);

$navbar-border-radius: 0;
$navbar-margin-bottom: 0;
$navbar-inverse-color: $white;
$navbar-inverse-bg: $dark-green;
$navbar-inverse-border: $navbar-inverse-bg;
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-hover-color: fade-out($navbar-inverse-link-color, 0.3);
$navbar-inverse-link-active-color: $navbar-inverse-link-color;
$navbar-inverse-link-active-bg: rgba(0,0,0,0);
$navbar-inverse-toggle-hover-bg: fade-out($navbar-inverse-link-color, 0.9);
$navbar-inverse-toggle-icon-bar-bg: $navbar-inverse-link-color;
$navbar-inverse-toggle-border-color: $navbar-inverse-bg;

$tooltip-max-width: 300px;

$input-border-focus: $green;
$input-border-radius: $border-radius-small;
