%nav.navbar.navbar-inverse{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ data: { toggle: "collapse", target: "#main-nav" } }
        %span.sr-only Toggle navigation
        - 3.times do
          %span.icon-bar
      = link_to data.site.title, "/", class: "navbar-brand"

    #main-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = partial "shared/navigation_links"
